$beige:#FFEDD6;
$brown:#482728;
$red:#F2545B;
$blue:#559CAD;
$orange:#FFAF47;

.color-grid {
    display: flex;
    flex-wrap: wrap;
    width: 36vw;
    height: 100vh
}

.color-grid div {
    height: 25vh;
}

.color-grid div div {
    width: 12vw;
}

.orange {
    background-color: $orange;
    color: $orange;
}

.beige {
    background-color: $beige;
    color: $beige;
}

.red {
    background-color: $blue;
    color: $blue;
}

.brown {
    background-color: $red;
    color:$red;
}