$beige:#FFEDD6;
$red:#F2545B;
$blue:#559CAD;
$orange:#FFAF47;

.cv-education {
    background-color: $beige;
}

#education-list {
    display: flex;
    justify-content: space-around;
}

.cv-work-exp {
    background-color: $blue;
}

.cv-volunteer {
    display: flex;
    background-color: $orange;
}

.cv-interests {
    background-color: $red;
}

.nav-link {
    align-self:flex-end;
}

.interests-descriptions {
    display: flex
}

.interests-descriptions div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3%;
    padding: 5px;
}
