$brown:#482728;
$beige:#FFEDD6;

#footer {
    position:relative;
    display: flex;
}

.footer-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    background-color:$beige;
}

.footer-left {
    width: 70vw;
}

.footer-right {
    width: 30vw;
    font-size: 2vw;
}

.footer-contact-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65vw;
}

.footer-left span {
    font-size: 20px;
    font-family: "Roboto Mono";
    font-weight: 100;
}

.footer-logo {
    color:$brown;
    font-size: 5vw;
}

.footer-right span {
    font-size: 2.5vw;
}

.footer-right a {
    color: $brown;
    padding: 5px;
}

#footnote {
    font-family: "Roboto Mono";
    font-weight: 100;
    font-size: 2vh;
    color: $brown;
    padding-bottom:20px;
}