#footer-body {
    display: flex;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 70vw;
    height: 15vh;
    background-color:#FFEDD6;
    color:#482728;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65vw;
}

.footer-left span {
    font-size: 20px;
    font-family: "Roboto Mono";
    font-weight: 100;
}

.footer-logo {
    color:#482728;
    font-size: 60px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
    background-color: #FFAF47;
    font-size: 30px;
}

.footer-right span {
    font-size: 33px;
}

.footer-right a {
    color: #482728;
    padding: 5px;
}

#footnote {
    font-family: "Roboto Mono";
    font-weight: 100;
    color: #482728;
}