$red:#F2545B;
$blue:#559CAD;
$orange:#FFAF47;

.home-about {
    background-color: $orange;
}

.home-skills {
    align-items: flex-end;
    background-color: $blue;
}

.skills-descriptions div {
    display: flex;
}
.skills-descriptions div h3 {
    width: 33.3%;
    padding: 5px;
}

.skills-descriptions div p {
    width: 33.3%;
    padding: 10px;
}

.home-work {
    background-color: $red;
}

.learn-more-btn {
    align-self: flex-end;
    display: flex;
    font-family: "Crimson-text";
}