$beige:#FFEDD6;
$brown:#482728;
$red:#F2545B;
$blue:#559CAD;
$orange:#FFAF47;

.project-descriptions div{
    display: flex;
}

.project-descriptions div h3 {
    width: 40%;
    padding: 5px;
}

.project-descriptions div p {
    width: 60%;
    padding: 10px;
}

.health-hub {
    background-color: $blue;
}

.far-out-traveller {
    display: flex;
    //align-items: flex-end;
    background-color: $red;
}

.far-out-traveller div div{
    display: flex;
    //flex-direction: column;
    //align-items:flex-end;
    //justify-content: space-between;
}

.work-project-links {
    display: flex;
    align-items: center;
    font-family: "Roboto Mono";
    width:fit-content;
    padding-top: 2vh;
    font-weight: 700;
    font-size: 5vh;
    color: $brown;
}
