$brown:#482728;

#nav-bar {
    font-family: "Roboto Mono";
    display: flex;
    justify-content:space-between;
    position: absolute;
    align-items: center;
    background-color: transparent;
    width: 80vw;
    height: 8vh;
    margin: 5vh 10vw;
    border-bottom: 1px solid $brown;
}

#nav-bar-ul {
    display: flex;
    justify-content:space-between;
}

#nav-bar-ul li {
    padding-right: 20px;
}

.nav-bar-logo {
    color:$brown;
    padding-top: 6vh;
    padding-left: 2vw; 
    font-size: 11vh;
}

.nav-bar-logo:link {
    color: $brown;
}